body {
    background-color: rgb(238, 234, 230);
    justify-content: center;
}
.container-fluid {
    background-color: rgb(4, 121, 105);
    color: black;
    border-radius: 1rem;
}

.h3 {
    font-weight: bold;
}
.subtitle {
    font-weight: bold;
}

.btn {
    background-color: rgb(4, 121, 105);
    color: white;
}
img {
    border-radius: 1rem;
}
.logo {
    background-color: rgba(4, 131, 114, 0.438);
    border: 0;
}

.card {
    background-color: rgba(4, 131, 114, 0.438);
    border-radius: 1rem;
    padding-top: 2rem;
    width: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
}